$bcolor: #000000;

$bluish-gray: #abb8c3;
$color--white: #ffffff;
$pale-pink: #f78da7;
$vivid-red: #cf2e2e;
$vivid-orange: #ff6900;
$vivid-amber: #fcb900;
$green-cyan: #7bdcb5;
$green-cyan: #00d084;
$cyan-blue: #8ed1fc;
$vivid-cyan-blue: #0693e3;
$vivid-purple: #9b51e0;
